@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  /* change */
  /* background-color: #fff; */
  background: linear-gradient(to bottom, #fff, #d8ddf1);
  opacity: 0;
}

.logo {
  cursor: pointer;
}

nav .left .logo {
  color: #2563eb;
}

.blob {
  width: 100%;
  height: 100%;
  /* background: #7a587a; */
  /* change */
  background-color: #bcd7f2;
  clip-path: ellipse(60% 56% at 84% 76%);
  z-index: -100;
}

.current {
  color: black;
  text-decoration: underline;
  font-weight: 600;
  cursor: default;
}

.rest-opt {
  cursor: pointer;
}

nav .left .rest-opt:hover {
  color: #f87171;
}

.no-copy {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.content p {
  display: inline-block;
}

.content p span span {
  display: inline-block;
}

.contact {
  background-color: #2989b3;
}

.contact:hover {
  background-color: #076791;
}

.right-side {
  background-color: #e2e8f0;
}

.right-side .content {
  background-color: #e2e8f0;
  border-color: #8694a2;
}

.right-side .btn button {
  background-color: #2563eb;
  color: white;
}

.right-side .btn button:hover {
  background-color: #1e40af;
}

@media (max-width: 431px) {
  nav {
    opacity: 0;
  }

  .current {
    background-color: #ccc;
    padding: 5px 20px;
    border-radius: 5px;
  }

  .nav2 {
    display: flex;
    z-index: 200;
  }

  .nav2 .options-list {
    background-color: #1b253b;
  }

  .nav2 .logo {
    color: #2563eb;
  }

  .nav2 .fa-bars {
    color: #1e3a8a;
  }

  .right-side .content h1 {
    color: #1e3a8a;
  }

  .right-side .content p {
    color: #334155;
    font-size: 17px;
  }

  .right-side {
    background-color: #e2e8f0;
  }

  .right-side .content {
    background-color: #e2e8f0;
    border-color: #8694a2;
  }

  .left-side,
  .blob {
    display: none;
  }

  .right-side {
    width: 94%;
    margin-left: 3%;
  }

  .right-side .content {
    width: 100%;
  }

  .right-side .content p {
    margin-bottom: 30px;
  }

  .right-side .btn button {
    background-color: #2563eb;
    color: white;
  }

  .right-side .btn button:hover {
    background-color: #1e40af;
  }

  .right-side .btn .download:active {
    scale: 90%;
  }
}
